//customizing to Twisted Rope colors
$primary: #585858;
$secondary: #25b8f2;
$danger: #f25f25;
$dark: #222;
$light: #fff;

$enable-gradients: true !default;

@import "bootstrap";

html{
    padding: 0;
    margin: 0;
    max-height: 100vh;
    max-width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
